.faqs_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}
.faq {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
}
.number {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: var(--btnHex);
    font-family: var(--fontBitter);
}
.faq_texts {
    font-size: 18px;
    line-height: 32px;
    color: var(--textHex);
    font-weight: 600;
    font-family: var(--fontMulish);
}
.faq_texts div:nth-of-type(2) {
    color: var(--faqAnswerHex);
}
.faqs_container hr {
    margin: 20px auto;
    border: 1px solid var(--lineHex);
}

@media (max-width: 767px) {
    .faqs_container {
        margin-bottom: 50px;
    }
    .number {
        font-size: 24px;
        line-height: 32px;
    }
}