.about_section {
    display: flex;
    align-items: flex-start;
    column-gap: 25px;
}
.about_section > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 50%;
}
.about_section img {
    width: 50%;
}
.about_section h2 {
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;
    font-family: var(--fontBitter);
    color: var(--btnHex);
}
.about_section > div div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: var(--textHex);
    font-family: var(--fontMulish);
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .about_section h2 {
        font-size: 48px;
        line-height: 56px;
    }
}
@media (max-width: 767px) {
    .about_section {
        flex-direction: column;
        row-gap: 25px;
    }
    .about_section > div, .about_section img {
        width: 100%;
    }
    .about_section h2 {
        font-size: 48px;
        line-height: 64px;
    }
    .about_section button {
        display: none;
    }
}