.main_container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.main_container > section:nth-of-type(4) {
    margin-top: -60px !important;
}

@media (max-width: 767px) {
    .main_container {
        row-gap: 30px;
    }
    .main_container > section:nth-of-type(4) {
        margin-top: -30px !important;
    }
}